.orange-background{
  background-color: rgb(249, 98, 29);
  margin-top: 0px;
  background-image: url(assets/comingsoon-dance-tape.svg);
  background-repeat: no-repeat;

}

.reccs-landing-page{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.reccs-title{
  font-family: Proxima Nova Extra Wide;
  font-size: 300px;
  font-style: normal;
  font-weight: 700;
  color: white;
  flex: 1;

  &::before {
    content: "RECCS";
    position: absolute;
    top: 105px;
    left: 5px;
    color: transparent;
    -webkit-text-stroke: 3px black;
    pointer-events: none;
  }
}

.landing-page-demo-description{
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

.demo-background{
  border-radius: 19.171px;
  background: linear-gradient(152deg, rgba(255, 255, 255, 0.30) 0.74%, rgba(255, 255, 255, 0.09) 95.79%);
  backdrop-filter: blur(14.378453254699707px);
  padding: 50px 24px 50px 24px;
}

.demo-title-text{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.landing-page-description{
  width: 725px;
  /*background-color: lightblue;*/
  justify-content: center;
  margin-right: 150px;
}

.landing-page-description-text{
  font-size: 32px;
  text-align: right;
  line-height: 170%; /* 54.4px */
  letter-spacing: -0.352px;
}

.demo{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}